In [43]:
# Import the required libraries and dependencies
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path

In [71]:
lcid_df= pd.read_csv(Path("multiTimeline.csv"))
lcid_df

            Category: All categories
Week        NASDAQ:LCID: (Worldwide)
2021-01-03                        <1
2021-01-10                        <1
2021-01-17                        <1
2021-01-24                         0
2021-01-31                        <1
2021-02-07                         0
2021-02-14                         0
2021-02-21                         1
2021-02-28                         1
2021-03-07                         1
2021-03-14                        <1
2021-03-21                        <1
2021-03-28                         1
2021-04-04                        <1
2021-04-11                        <1
2021-04-18                        <1
2021-04-25                        <1
2021-05-02                         0
2021-05-09                         1
2021-05-16                         1
2021-05-23                         1
2021-05-30                         1
2021-06-06                         1
2021-06-13                         1
2021-06-20                        <1
2021-06-27                        <1
2021-07-04                         1
2021-07-11                         1
2021-07-18                         2
2021-07-25                        61
2021-08-01                        28
2021-08-08                        29
2021-08-15                        23
2021-08-22                        20
2021-08-29                        40
2021-09-05                        22
2021-09-12                        39
2021-09-19                        62
2021-09-26                        52
2021-10-03                        29
2021-10-10                        28
2021-10-17                        25
2021-10-24                        67
2021-10-31                        62
2021-11-07                        67
2021-11-14                       100
2021-11-21                        45
2021-11-28                        48
2021-12-05                        57
2021-12-12                        46
2021-12-19                        35
2021-12-26                        27

In [45]:
# Load the environment variables by calling the load_dotenv function
load_dotenv()

True

In [46]:
# Set Alpaca API key and secret by calling the os.getenv function and referencing the environment variable names
# Set each environment variable to a notebook variable of the same name
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check the values were imported correctly by evaluating the type of each
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [47]:
# Create your Alpaca API REST object by calling Alpaca's tradeapi.REST function
# Set the parameters to your alpaca_api_key, alpaca_secret_key and api_version="v2" 
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
    )

In [48]:
# Create the list for the required tickers
tickers = ["AMZN"]

In [49]:
# Set the values for start_date and end_date using the pd.Timestamp function
# The start and end data should be 2019-05-01 to 2020-05-01
# Set the parameter tz to "America/New_York", 
# Set this all to the ISO format by calling the isoformat function 
start_date = pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()

In [50]:
# Set timeframe to one day (1)
timeframe = "1D"
#set the time rows
limit_rows = 1000

In [56]:
# Use the Alpaca get_barset function to gather the price information for each ticker
# Include the function parameters: tickers, timeframe, start, end, and limit
# Be sure to call the df property to ensure that the returned information is set as a DataFrame
amzn_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=limit_rows
).df

amzn_df.head()

                              AMZN
                              open      high      low    close   volume
time
2021-01-04 00:00:00-05:00  3270.00  3272.000  3144.02  3186.65  3974073
2021-01-05 00:00:00-05:00  3166.01  3223.380  3165.06  3218.51  2325459
2021-01-06 00:00:00-05:00  3146.48  3197.509  3131.16  3138.01  3919285
2021-01-07 00:00:00-05:00  3157.00  3208.542  3155.00  3161.41  2951339
2021-01-08 00:00:00-05:00  3180.00  3190.640  3142.20  3182.70  3261271

In [59]:
amzn_df.tail()

                              AMZN
                              open       high      low    close   volume
time
2021-12-27 00:00:00-05:00  3421.34  3458.8600  3384.31  3393.71  2585900
2021-12-28 00:00:00-05:00  3402.75  3443.5176  3382.71  3413.22  2476523
2021-12-29 00:00:00-05:00  3415.48  3424.2400  3372.01  3383.01  1582459
2021-12-30 00:00:00-05:00  3392.99  3417.7600  3370.48  3372.90  1671897
2021-12-31 00:00:00-05:00  3380.08  3387.0000  3331.17  3334.72  2121456

In [60]:
amzn_df.dtypes

AMZN  open      float64
      high      float64
      low       float64
      close     float64
      volume      int64
dtype: object

In [62]:
amzn_close = amzn_df["AMZN"]["close"]
print(amzn_df["AMZN"]["close"])

time
2021-01-04 00:00:00-05:00    3186.65
2021-01-05 00:00:00-05:00    3218.51
2021-01-06 00:00:00-05:00    3138.01
2021-01-07 00:00:00-05:00    3161.41
2021-01-08 00:00:00-05:00    3182.70
                              ...
2021-12-27 00:00:00-05:00    3393.71
2021-12-28 00:00:00-05:00    3413.22
2021-12-29 00:00:00-05:00    3383.01
2021-12-30 00:00:00-05:00    3372.90
2021-12-31 00:00:00-05:00    3334.72
Name: close, Length: 252, dtype: float64

In [63]:
amzn_close.tail()

time
2021-12-27 00:00:00-05:00    3393.71
2021-12-28 00:00:00-05:00    3413.22
2021-12-29 00:00:00-05:00    3383.01
2021-12-30 00:00:00-05:00    3372.90
2021-12-31 00:00:00-05:00    3334.72
Name: close, dtype: float64

In [72]:
stock_trend = pd.concat([amzn_df, lcid_df]).dropna()

C:\Users\moe12\anaconda4\lib\site-packages\pandas\core\indexes\multi.py:3554: RuntimeWarning: The values in the array are unorderable. Pass `sort=False` to suppress this warning.
  result = lib.fast_unique_multiple([self._values, rvals], sort=sort)

AttributeError: 'NoneType' object has no attribute 'dtype'